*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Background */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbdbd3;
    font-family: 'Roboto', sans-serif;
}
.background-top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #009688;
    height: 90px;
    width: 100%;
}
/* /Background */
/*Container della chat*/
.container{
    width: 80%;
    height: 90%;
    background-color:#eaeaea;
    border-radius: 2px;
}
#sidebar{
    width: 35%;
    border-right: 1px solid #ccc;
}
#main{
    width: 65%;
}
/*/Container della chat*/
/*Sidebar*/
.header{
    display: flex;
    width: 100%;
    min-height: 70px;
    padding: 5px;
}
.header-left,
.header-right{
    display: flex;
    height: 60px; /*100%*/
    align-items: center;
}
/* header-left */
.header-left{
    width: 70%;
    justify-content: left;
}
img.avatar{
    height: 60px;
    border-radius: 50%;
}
.user-name{
    text-transform: capitalize;
    margin-left: 10px;
}
/* header-right */
.header-right{
    width: 30%;
    justify-content: right;
}
/*.header-right >*/ i{
    margin: 0 10px;
    font-size: 22px;
    color: #b1b1b1;
    cursor: pointer;
}
/* area notifiche */
.notifiche{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #8edafc;
    justify-content: space-around;
    align-items: center;
}
.notifiche > .bell{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f2fbff;
    text-align: center;
    line-height: 40px;
}
.notifiche > .bell > .fa-bell-slash{
    margin: 0;
    color: #8edafc;
}
.notifiche > .advise > p{
    margin: 2px 0;
}
.notifiche > .advise > p > a{
    color: #555;
    font-size: 14px;
}
/* Search-bar */
.search{
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    padding: 5px;
}
.search > .search-bar{
    display: flex;
    width: 95%;
    height: 100%;
    margin: auto;
    border-radius: 2px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
} 
.search > .search-bar > input{
    border: 0;
    width: 80%;
    height: 30px;
    font-size: 16px;
    margin-left: 10px;
}   
/* Contacts */
.contact{
    display: flex;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid #fafafa;
    font-size: 18px;
}
.contact > .user-name,
.contact > .avatar{
    margin-left: 30px;;
}